[flake8]
# Only consider Python files

filename = *.py

# Exclude non-Python directories and generated/static assets
exclude = .git,__pycache__,venv,node_modules,static,templates,migrations,*.html,*.css,*.js,*.pyc,.pytest_cache,uploads,docker,*.egg-info,.eggs,vagrant

# Project style
max-line-length = 120

