name: CI

on:
  push:
    branches: [ "trunk", "feature/**" ]
  pull_request:
    branches: [ "trunk" ]

jobs:
  commit-messages:
    name: Commit messages (Commitizen)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (fetch full history)
        uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Commitizen
        run: pip install commitizen

   
      - name: Check commit messages (push)
        if: github.event_name == 'push'
        run: |
          cz check --rev-range ${{ github.event.before }}..${{ github.sha }}

    
      - name: Check commit messages (PR)
        if: github.event_name == 'pull_request'
        run: |
          cz check --rev-range ${{ github.event.pull_request.base.sha }}..${{ github.sha }}

  lint-and-tests:
    name: Lint & Tests
    runs-on: ubuntu-latest
    needs: commit-messages
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pre-commit pytest

     
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

    
      - name: Run unit tests (recommendations)
        run: pytest -q app/modules/recommendations/tests/test_unit.py
